/* Reset des marges et paddings */
* {
  margin: 0;
  padding: 0;
}

/* Styles pour la page d'accueil */
body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Styles pour la barre de navigation */
nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* Affichage des menu principal */
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav_ li.dropdown {
  margin-right: auto;
}
/* Text des menu */
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  transition: all 0.3s ease;
}

/* Fond des text menu */
nav ul li a:hover {
  background-color: #444;
}

/* Affichage du menu profil */
.dropdown-menu {
  margin-left: -70px;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
}

.align-droite {
  position: fixed;
  top: 10px;
  right: 0;
}
/* Affiche du menu profil */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Menu profil */ 
.dropdown-menu li a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Fond du menu profil */ 
.dropdown-menu li a:hover {
  background-color: #a7a5a5;
}

/* Menu navbar */


div.div_path_web {
  position: relative;
  margin-top: 10px;
  margin-left: 250px;
}

a.path_web {
  text-decoration: none;
  color: #474747;
  font-size: 18px;
}

  a.path_web:hover {
      background: #d4d4d4;
  }

a.a_separateur {
  color: #c1c1c1;
  font-size: 18px;
}

a.a_scandir_folder {
  font-size: 15px;
  text-decoration: none;
  color: black;
}


/* File */


a.a_scandir_file {
  font-size: 15px;
  text-decoration: none;
  color: black;
}

a.a_create {
  margin-top: 10px;
  margin-left: 40%;
  margin-bottom: -100px;
  text-decoration: none;
  background-color: #07c950;
  border: none;
  color: white;
  padding: 4px 20px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
}

a.a_python {
  margin-top: 10px;
  margin-left: 75%;
  margin-bottom: -100px;
  text-decoration: none;
  background-color: rgb(199, 101, 21);
  border: none;
  color: white;
  padding: 4px 20px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
}

.div_changepwd {
  margin: 50px auto;
  max-width: 500px;
  padding: 20px;
  border-radius: 5px;
}

    
.input_oldpwd_changepwd,
.input_newpwd_changepwd,
.input_confnewpwd_changepwd {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.input_submit_changepwd {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.input_submit_changepwd:hover {
  background-color: #000;
}

.div_edit {
  margin: 50px auto;
  max-width: 500px;
  padding: 20px;
  border-radius: 5px;
}

.input_identifiant, .p_txt_edit, .select_isadmin_edit {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.input_submit_edit {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out; 
}

.input_submit_edit:hover {
  background-color: #000;
}

/* Style pour l'image au milieu */
.logo {
  display: block;
  height: 45px;
  margin-top: 30px;
  margin-left: 42%;
}